[Unit]
Description=RTags daemon

Requires=rdm.socket

[Service]
Type=simple
; ExecStart=/usr/bin/rtags-rdm --verbose --inactivity-timeout 300 --log-flush
ExecStart=/usr/bin/rtags-rdm -R --no-libclang-include-path
Nice=19
CPUSchedulingPolicy=idle
