# master:
/bin/viber
/bin/telegram
/bin/teamviewer
/bin/masterpdfeditor5
/bin/tup
/bin/idea.sh
/bin/clang
/bin/clang-format
/bin/clang++
/bin/gcc
/bin/cc
/bin/c++
/bin/g++
/bin/ctags
/bin/fzf
/bin/code
/bin/repo
/bin/youtube-dl
*.pyc

# second:
/bin/xterm
/bin/vs
/bin/edbg
/bin/beautify_file.sh

