*.pyc
/bin/viber
/bin/telegram
/bin/teamviewer
/bin/teams-for-linux
/bin/masterpdfeditor5
/bin/tup
/bin/idea.sh
/bin/clang
/bin/clang-format
/bin/clang++
/bin/clangd
/bin/llvm-config
/bin/gcc
/bin/cc
/bin/c++
/bin/g++
/bin/ctags
/bin/fzf
/bin/code
/bin/repo
/bin/youtube-dl
/bin/xterm
/bin/vs
/bin/edbg
/bin/beautify_file.sh
/bin/Foundation_Platform
/bin/eclipse
