; put this file in folder: .config/systemd/user/
[Unit]
Description=Check new email service

[Service]
Type=oneshot
; ExecStart=/usr/bin/mbsync -Va
ExecStart=/bin/bash -c 'source ~/.bashrc \
          && DOTRC/other_files/check_for_new_emails.py'
