; put this file in folder: .config/systemd/user/
[Unit]
Description=Check new email timer

[Timer]
OnBootSec=2m
OnUnitActiveSec=5m
Unit=check_new_email.service

[Install]
WantedBy=timers.target
