[Unit]
Description=Mailbox synchronization service

[Service]
Type=oneshot
; ExecStart=/usr/bin/mbsync -Va
ExecStart=DOTRC/other_files/check_for_new_emails.sh
