[Unit]
After=systemd-user-sessions.service
Requires=multi-user.target
After=multi-user.target
Conflicts=rescue.target
Conflicts=graphical.target

[Service]
ExecStart=/bin/su slava -l -c "/media/files/workspace/dotrc/other_files/generate_configs.sh ; exec /usr/bin/startx -- -configdir `if /media/files/workspace/dotrc/other_files/virtual_box.sh ; then echo virtual ; else echo native ; fi`"

# Note: currently we do not start Xorg as a systemd --user service
# (files in "~/.config/systemd/user/*", see git blame on this line)
# Reason: in this case we run outside of a session. Some system settings are not applied
# (e.g. /etc/security/limits.conf). See example (outside session) below:
# ExecStart=/bin/su slava -l -c "systemctl --user start default_user_gui.target"

# %i means input argument (either from native.target or virtual.target)
