[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=
Exec=/home/elena/telegram/telegram
Icon=/home/elena/telegram/icon.png
Path=
Terminal=false
StartupNotify=false
