[core]
	pager = less -+FX # fix mouse scrolling
[color]
	ui = true
	diff = true
	status = true
[user]
	name = Viacheslav Volkov
	# in dotrc_s:
	# email = viacheslav.volkov.1@gmail.com
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[push]
	default = simple
[alias]
	# add only non-whitespace changes:
	addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
