[color]
	ui = always
[user]
	email = viacheslav.volkov.1@gmail.com
	name = Viacheslav Volkov
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = false
[push]
	default = simple
[alias]
	addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
