# Control-o: "> output"
# "ab": "exit\n"
# "ab": kill-whole-line

# close shell:
# " qm": "\C-d"
# switch to normal mode:
# "fd": "\C-["

# grep shortcut:
Control-g: " | grep -i "

# less shortcut:
Control-l: " | vless -i\n"

# xargs shortcut:
Control-p: " | xargs "

# wc shortcut:
Control-w: " | wc -l\n"
