! See: urxvt-extensions(1), urxvtperl(3)

! Dump scrollback buffer with <Ctrl>+PrintScreen:
URxvt.print-pipe: /bin/bash -c '$DOTRC/other_files/handle_terminal_scrollback_buffer.sh'
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! font:
URxvt.font:    xft:Inconsolata LGC:pixelsize=18
URxvt.boldfont:xft:Inconsolata LGC:pixelsize=18:style=Bold

! Reduce distance between letters:
! URxvt.letterSpace: -1

URxvt.perl-ext-common: default,matcher,font-size,vtwheel,my-handle-buffer

URxvt.keysym.Control-k: perl:my-handle-buffer:copy_file_to_clipboard

! Clickable URLs (ctrl + left button):
URxvt.urlLauncher: /usr/bin/x-www-browser
URxvt.matcher.button: C1

! Hotkeys to change font size on the fly (Ctrl+Up/Down):
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
! URxvt.keysym.C-A-Up:   perl:font-size:incglobal
! URxvt.keysym.C-A-Down: perl:font-size:decglobal

! Disable built-in clipboard hotkeys:
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! Use my clipboard hotkeys:
URxvt.keysym.Mod1-c: eval:selection_to_clipboard
URxvt.keysym.Mod1-v: eval:paste_clipboard

! Other:
URxvt.saveLines: 1000000
URxvt.scrollBar: false
! URxvt.scrollstyle: plain
! URxvt.scrollBar_right: true

URxvt.cursorBlink: true
! URxvt.cursorUnderline: true

! Bold:
URxvt.colorBD: #E6DB74
! Underlined:
URxvt.colorUL: #66D9EF
! Italic:
! Urxvt.colorIT: #00FF00

! URxvt.depth: 32
! URxvt.tintColor: rgba:0000/0000/0000/bbbb
! URxvt.cursorColor
! URxvt.cursorColor2

! Molokai theme
URxvt.background: #101010
URxvt.foreground: #d0d0d0
URxvt.color0: #101010
URxvt.color1: #960050
URxvt.color2: #66aa11
URxvt.color3: #c47f2c
URxvt.color4: #30309b
URxvt.color5: #7e40a5
URxvt.color6: #3579a8
URxvt.color7: #9999aa
URxvt.color8: #303030
URxvt.color9: #ff0090
URxvt.color10: #80ff00
URxvt.color11: #ffba68
URxvt.color12: #5f5fee
URxvt.color13: #bb88dd
URxvt.color14: #4eb4fa
URxvt.color15: #d0d0d0
