! Dump scrollback buffer with <Ctrl>+PrintScreen:
URxvt.print-pipe: ~/os_settings/other_files/handle_terminal_scrollback_buffer.sh

! font:
URxvt.font:    xft:Inconsolata LGC:pixelsize=14
URxvt.boldfont:xft:Inconsolata LGC:pixelsize=14:style=Bold
Emacs.font:    Inconsolata LGC-14

! Reduce distance between letters:
! URxvt.letterSpace: -1

URxvt.perl-ext-common: default,matcher,font-size,clipboard

! Clickable URLs (ctrl + left button):
URxvt.urlLauncher: /usr/local/bin/vimb
URxvt.matcher.button: C1

! Hotkeys to change font size on the fly (Ctrl+Up/Down):
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
! URxvt.keysym.C-A-Up:   perl:font-size:incglobal
! URxvt.keysym.C-A-Down: perl:font-size:decglobal

! Clipboard extension:
URxvt.keysym.Mod1-y:   perl:clipboard:copy
URxvt.keysym.Mod1-i:   perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt.clipboard.autocopy: If true, PRIMARY overwrites clipboard
! URxvt.clipboard.copycmd:  xsel -ib
! URxvt.clipboard.pastecmd: xsel -ob
! URxvt.clipboard.copycmd:  xclip -i -selection clipboard
! URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.clipboard.copycmd:  clipboard.sh
URxvt.clipboard.pastecmd: clipboard.sh -o
! Other:
URxvt.saveLines: 1000000
URxvt.scrollBar: false
! URxvt.scrollstyle: plain
! URxvt.scrollBar_right: true

URxvt.cursorBlink: true
! URxvt.cursorUnderline: true

! Bold:
URxvt.colorBD: #E6DB74
! Underlined:
URxvt.colorUL: #66D9EF
! Italic:
! Urxvt.colorIT: #00FF00

! URxvt.depth: 32
! URxvt.tintColor: rgba:0000/0000/0000/bbbb
! URxvt.cursorColor
! URxvt.cursorColor2

! Molokai theme
URxvt.background: #101010
URxvt.foreground: #d0d0d0
URxvt.color0: #101010
URxvt.color1: #960050
URxvt.color2: #66aa11
URxvt.color3: #c47f2c
URxvt.color4: #30309b
URxvt.color5: #7e40a5
URxvt.color6: #3579a8
URxvt.color7: #9999aa
URxvt.color8: #303030
URxvt.color9: #ff0090
URxvt.color10: #80ff00
URxvt.color11: #ffba68
URxvt.color12: #5f5fee
URxvt.color13: #bb88dd
URxvt.color14: #4eb4fa
URxvt.color15: #d0d0d0

